* {
    margin: 0px;
    padding: 0px;
}

.defaultHide {
    display: none
}

.clearFix {
    float: none;
    clear: both;
}

#global {
    width: 80%;
    margin: 0px auto;
    margin-top: 25px;
    padding: 25px;
    background: whitesmoke;
    box-shadow: 0px 0px 2px gray;
}

#logo {
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    font-family: verdana, arial;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 75px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    float: left;
}

#notFoundLbl {
    text-align: right;
    margin-top: 12px;
    margin-right: 170px;
}

#entryLbl {
    margin-top: 4px;
    margin-left: 100px;
    margin-right: 5px;
    float: left;
}

#entryDrop {
    width: 50;
    height: 25px;
    text-align: center;
    border-radius: 15px;
    border-style: hidden;
    outline-style: none;
    font-size: medium;
    margin-left: 5px;
    margin-right: 45px;
    float: left;
}

#search {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border-style: hidden;
    outline-style: none;
    font-size: medium;
    padding-left: 13px;
    padding-right: 45px;
    float: right;
    background-image: url("../img/magnifying-glass.jpg");
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 8%;
}

#search::placeholder {
    text-align: center;
}

#menu {
    font-family: Helvetica, Arial;
    background: #333333;
    width: 100%;
    text-transform: uppercase;
}

#menu ul {
    line-height: 46px;
    list-style: none;
}

#menu li {
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

.bx-pager {
    margin-bottom: 1px;
}

#posts {
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
}

.post {
    padding: 8px;
}

.h2 {
    font-family: Helvetica, Arial;
    font-size: 30px;
    color: #333333;
}

.date {
    display: block;
    color: gray;
    margin-top: 10px;
}

.post p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

.button-more {
    display: block;
    width: 70px;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#sidebar {
    font-family: Helvetica, Arial;
    width: 31%;
    float: right;
}

#sidebar h4 {
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333333;
    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span {
    background: whitesmoke;
    padding: 5px;
}

#sidebar img {
    width: 100%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
}

#login h4 {
    margin-top: 30px;
}

form label {
    margin-top: 10px;
    width: 90%;
    float: left;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
form select {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    outline-style: none;
    font-size: small;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 5px;
}

#contactForm label {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

textarea {
    height: 100px;
    width: 445px;
    resize: vertical;
    max-height: 300px;
    min-height: 50px;
}

.login {
    color: white;
    margin-right: 50px;
    float: right;
}

#userLoggedIn {
    font-weight: bold;
}

#logout {
    color: cyan
}

footer {
    width: 82%;
    height: 40px;
    background: rgba(51, 51, 51, 0.85);
    margin: 0px auto;
    margin-top: 15px;
    padding-left: 20px;
    /* This part corresponds to the text within the footer: */
    color: white;
    font-family: Helvetica, Arial;
    line-height: 40px;
}

.bx-viewport {
    height: 250px !important;
}

#imgP {
    padding-bottom: 30px;
}

.bx-wrapper {
    position: fixed;
    margin-bottom: 20px;
    padding-bottom: 0%;
}

.bx-prev,
.bx-next {
    display: block;
    color: black;
}

#selectTheme {
    position: fixed;
    top: 27%;
    width: 50px;
    height: auto;
    background: rgba(51, 51, 51, 0.55);
    padding-right: 2px;
}

.themeColor {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#to-green {
    background-image: url("../img/teal_landscape.jpg");
    background-size: cover;
}

#to-blue {
    background-image: url("../img/cielo.jpg");
    background-size: cover;
}

#to-red {
    background-image: url("../img/rojo.jpg");
    background-size: cover;
}

.goUp {
    background-image: url("../img/backToUp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    color: transparent;
    width: 45px;
    height: inherit;
    float: right;
}

.otherThanIndex {
    width: 63%;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}

.otherThanIndex h2 {
    margin-left: 7px;
}

#accordion {
    margin-top: 12px;
}

h3 {
    font-family: Helvetica, Arial;
    font-size: 25px;
    font-weight: bolder;
    color: #333333;
}

#clockContent {
    font-size: 40px;
    font-weight: bold;
    font-family: helvetica, Arial;
    border: 5px dashed #333333;
    width: 30%;
    padding: 25px;
    margin-top: 26px !important;
    margin: 0px auto;
}

#contactForm {
    width: 70%;
    margin-left: 15px;
    margin-top: 15px;
}

#password-error {
    margin-bottom: 15px;
}

.button {
    appearance: button;
    backface-visibility: hidden;
    color: #fff;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 94%;
    background-position-x: left;
    float: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #333333;
}

tr:hover {
    background-color: coral;
}

th,
td {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

iframe[seamless] {
    border: none;
    width: 100%;
    height: 100%;
    scroll-snap-align: inherit;
}

.error,
.errorAlert {
    color: red;
    font-weight: lighter !important;
    padding-top: 0% !important;
}