<link rel="stylesheet" href="css/styles.css">

<table>
    <tr>
        <th>Month</th>
        <th>Articles topic</th>
        <th>Visits number</th>
        <th>Author</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>January</td>
        <td>Gender equality in Software career</td>
        <td>1089</td>
        <td>Carlos Lagrand</td>
        <td> <a href="mailto:CarlosLagrand@gmail.com">Send Email</a></td>
    </tr>
    <tr>
        <td>March</td>
        <td>Foreign policy for software engineers</td>
        <td>2310</td>
        <td>Maria Guadalupe</td>
        <td> <a href="mailto:MariaGuadalupe@yahoo.es">Send Email</a></td>
    </tr>
    <tr>
        <td>April</td>
        <td>How War in Ukraine is affecting software careers</td>
        <td>2712</td>
        <td>Prya Sandalas</td>
        <td> <a href="mailto:Prya-Sandalas@diariolibre.co">Send Email</a></td>
    </tr>
    <tr>
        <td>June</td>
        <td>Women's liberation within engineering career</td>
        <td>985</td>
        <td>Rianna Lung</td>
        <td> <a href="mailto:Rianna Lung@NYtime.us">Send Email</a></td>
    </tr>

</table>